.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  border-left: 20px solid transparent; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  background: grey;
  margin-bottom: 30px;
  padding: 20px;
}

.character-image {
    width: 100%;
}

.character-name {
    color: #fff;
    text-align: center;
    font-size: 20px;
}

.get-more-characters-button {
    height: 30px;
    width: 200px;
}

.get-more-characters-button:hover {
   background-color: grey;
   color:white;
}

.get-more-characters-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.character-container {
    cursor: pointer;
}

.character-container:hover {
    box-shadow: 1px 2px 8px  black;
}